{% extends "base.html" %}
{% block title %}Flask CodeLab{% endblock %}
{% block content %}
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pretium et est at cursus. Quisque at nibh aliquet, consequat libero ac, mollis lectus. Aenean et dolor ipsum. Praesent vulputate neque sit amet arcu vestibulum, a rutrum metus finibus. Proin non feugiat sem, vel lobortis lorem. Proin ut ligula elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur viverra orci non turpis tincidunt, in feugiat massa semper. Maecenas id elit eget nunc cursus ullamcorper quis elementum lacus.
  </p>
  <p>
    Aliquam quis scelerisque lectus. Duis faucibus nulla lacus, sit amet malesuada turpis porta eget. Aliquam convallis tellus eu est vulputate sollicitudin. Sed diam nunc, consequat et lacus a, cursus mattis risus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus facilisis ullamcorper augue id vestibulum. Fusce porttitor sodales dui, pretium mattis augue. Quisque vehicula nulla ut elit varius commodo. Proin in felis et purus hendrerit facilisis. Praesent lacinia pharetra lectus.
  </p>
  <p>
    Integer non nibh eu ligula pharetra vehicula. Donec mi tortor, viverra vitae urna viverra, ultricies scelerisque metus. Phasellus elementum dui a feugiat dignissim. Cras elementum quam sodales sem elementum consectetur. Praesent lacinia arcu non libero mattis, interdum egestas nisl commodo. Sed convallis, nisi a iaculis facilisis, est dui posuere velit, vitae malesuada nisl dolor vitae urna. Donec placerat, neque et dictum aliquam, tellus tellus tincidunt sem, eget efficitur dolor mauris nec dolor. Phasellus condimentum, turpis ut dictum mattis, leo erat malesuada erat, et pellentesque diam dolor vel arcu.
  </p>
{% endblock %}